#Header{
}

/*what up lads*/

h1 {
	font-size: 120px;
}

.Biography h2{
}

* {
	font-family: Comic Sans MS, Ariel, sans-serif;
	
	color: red;
	
}

.tired h2{
	font-family: Times New Roman;
}
	

